
@{
    ViewBag.Title = "HomePage";
}

<h2>HomePage</h2>
<style type="text/css">
    body {
        background-image: url('../../images/pic1.jpg');
        background-position: inherit;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        font-family: sans-serif;
        margin-top: 40px
    }
</style>



<h1 style="text-align: center">ONLINE SHOPPING CART SYSTEM</h1>



<div>
    @Html.ActionLink("Register", "Create","User") |
</div>



<div>
    @Html.ActionLink("Login","LoginUsers","User") |
</div>



